.git
.github
.claude
.idea
.vscode
**/*_test.go
**/*.md
!agents/*.md
!api/README.md
docs
docker
docker-compose.yml
coverage.out
tsconfig.tsbuildinfo
**/.DS_Store
**/node_modules
**/dist
**/build
*.log
